@{
}
@model Appointments

<div class="form-group">
    <form method="post">
        <label asp-for="Date">Date: </label>
        <input asp-for="Date" value="@ViewBag.Date" /><br />
        <label asp-for="Time">Time: </label>
        <input asp-for="Time" value="@ViewBag.Time" /><br />
        <label asp-for="GroupName">Group Name: </label>
        <input asp-for="GroupName" /><br />
        <label asp-for="GroupSize">Group Size: </label>
        <input asp-for="GroupSize" /><br />
        <label asp-for="Email">Email: </label>
        <input asp-for="Email" /><br />
        <label asp-for="PhoneNum">Phone Number: </label>
        <input asp-for="PhoneNum" /><br />

        <button class="btn btn-success" action="submit">Submit Appointment</button>
    </form>
</div>